<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Stackoverflow</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/problems")
        @Styles.Render("~/Content/question!")
        @Styles.Render("~/Content/cleditor")

        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")

        @Scripts.Render("~/bundles/dateformat")        
        @Scripts.Render("~/bundles/cleditor")
        
    </head>
    <body>
        <div class="container">
            <div class="menu">
                <ul>
                    <li>@Html.ActionLink("Question", "Index", "Problems")</li>
                    <li>@Html.ActionLink("Tags", "Index", "Problems")</li>
                    <li>@Html.ActionLink("Users", "Index", "Problems")</li>
                    <li>@Html.ActionLink("Ask Question", "Add", "Problems")</li>
                </ul>
            </div>
            @RenderSection("featured", required: false)
            <div id="content">
                @RenderBody()
            </div>
        </div>

        @Scripts.Render("~/bundles/voute")
        @Scripts.Render("~/bundles/question")
    </body>
</html>
